name: Deploy Go to Azure Function

on:
  push:
    branches:
      - main
  workflow_dispatch: # Permet de lancer le déploiement manuellement depuis l'interface GitHub si besoin

env:
  AZURE_FUNCTIONAPP_NAME: 'testing-go'  
  GO_VERSION: '1.25'                              # La version de Go que tu utilises
  # Assure-toi que ce nom correspond à "defaultExecutablePath" dans ton host.json
  BINARY_NAME: 'main' 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest # On utilise Linux pour construire car l'app Azure est sous Linux
    
    steps:
    - name: Checkout du code
      uses: actions/checkout@v4

    - name: Connexion à Azure
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Configuration de Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ env.GO_VERSION }}

    - name: Build du binaire
      run: |
        # Compilation croisée pour Linux (Architecture AMD64 standard pour Azure)
        GOOS=linux GOARCH=amd64 go build -o ${{ env.BINARY_NAME }} main.go
        
        # Donner les droits d'exécution (CRITIQUE pour que Azure puisse le lancer)
        chmod +x ${{ env.BINARY_NAME }}

    - name: Déploiement sur Azure Functions
      uses: Azure/functions-action@v1
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        package: '.' # On déploie tout le dossier courant (qui contient main, host.json, etc.)